<html>
<head>
<style type="text/css">

  table {
  font-family: "Courier New";
  font-style: italic;
  height: 15%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border: solid 2px black ;
  text-align: center;
  background-color: #AED0F6 ;
  color: #056766;
  }
  td {
  font-family: "Courier New";
  font-style: normal;
  font-weight: bold;
  width: 30px;
  height: 30%;
  background-color: white;
  color: #000000
  }
  th{
  height: 20%;
  }


</style>

</head>
<body>
	{% for i in tickets %}
	
		<table>
			<thead><th colspan="9">{{header}} {{i[1]}}</th></thead>
			<tbody>
				<tr>
				{% for j in i[0][0] %}
					<td>
						{{j}}
					</td>
				{% endfor %}
				</tr>
				
				<tr>
				{% for j in i[0][1] %}
					<td>
						{{j}}
					</td>
				{% endfor %}
				</tr>
				
				<tr>
				{% for j in i[0][2] %}
					<td>
						{{j}}
					</td>
				{% endfor %}
				</tr>
								
			</tbody>
		</table>
		<br>
		{% endfor %}
</body>
</html>